{
  "presets": [ "latest" ],
  "plugins": [
    [
      "transform-async-to-module-method", {
        "module": "bluebird",
        "method": "coroutine"
      }
    ],
    "transform-class-properties",
    "transform-export-extensions"
  ]
}
